 .page
{
	width: 780px;
	margin: auto;
	font-family: 'source sans pro',time new roman, tohoma, sans-serif;
	font-size: 14px;

}
/*.infophoto
{
	
	height: 250px;
}
.info
{
	float: left;
}
.photo
{
	float: right;
}*/
.section
{
	margin-bottom: 70px;
	text-align: justify;
}
.seg-gauche
{
	float: left;
	font-weight: bold;
	font-size: 14px;
	margin-right: 90px;
	margin-bottom: 20px;
}

.seg-droite
{
	margin-left:90px;
	margin-top: 30px;
}

h2
{
	font-size: 18px;
	color: #3388BB;
	border-bottom: 3px solid #3388DD;
}
.duree
{
	font-weight: normal;
	font-style: italic;
	font-size: 10px;
}
.inf
{
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
}
.titre
{
	font-weight: bold;
	font-size: 14px;
}
#comp-skills{
		margin-top: 110px;
}


#forma-gauche p
{
	margin-bottom: 30px;
	margin-top: 0px;
}

#forma-droite
{
	margin-bottom: 100px;
	margin-top: 0px;
}

#fg p
{
	margin-top: 20px;
	margin-bottom: 30px;
}
#comp-gauche p
{
	margin-top: 0px;
}
#comp-droite p
{
  margin-top: 15px;
  margin-bottom: 0px;
}
#vie-gauche p
{
	margin-top: 0px;
}